<style>
  .item {
    position:relative;
  }
  .graph {
    position:absolute;
    bottom:0;
    right:0;
    z-index: -1;
  }
</style>
<script>
  Chart.defaults.global.legend.display = false;
  Chart.defaults.global.tooltips.enabled = false;
</script>

<div class="ui main text container">
  <h1>Products</h1>

  <div>
    <div class="ui divided items">
    <% @amazon_products.limit(10).each do |product| %>
      <div class="item">
        <div class="ui small image">
          <a href="<%= amazon_product_path(product) %>">
            <img src="<%= image_path(product.presenter.main_image) %>">
          </a>
        </div>
        <div class="content">
          <a class="header"><%= link_to product.title.truncate(60), amazon_product_path(product) %></a>
          <div class="meta">
            <i class="red fire icon"></i>
            121 Heat
          </div>
          <div class="description">
            <p><%= product.features.first %></p>
          </div>
          <div class="extra">
            <% product.tags.each do |tag| %>
              <div class="ui label"><i class="tag icon"></i> <%= tag %></div>
            <% end %>
          </div>
          <div class="graph">
            <%= render partial: 'shared/spark_line_graph',
                       locals: { id: "sparkey_#{product.id}",
                                 product: product } %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
