<div class="ui grid stackable">
  <div class="sixteen wide column">
    <h1><%= @amazon_product.title %></h1>
  </div>

  <div class="sixteen wide column">
    <div class="column">
      <a class="ui green button" href="<%= @amazon_product.detail_page_url %>" target="_blank">
        <i class="shop icon"></i>Buy
      </a>

      <a class="ui blue button" href="<%= @amazon_product.add_to_wishlist_url %>" target="_blank">
        <i class="shop icon"></i>Watch
      </a>
    </div>
  </div>

  <div class="two column wide row">
    <div class="nine wide column">
      <div class="ui vertically grid">
        <div class="column">
          <div class="ui label image white">
            <i class="money icon"></i>Price
            <div class="detail"><b><%= number_to_currency(@amazon_product.presenter.price) %></b></div>
          </div>

          <div class="ui label image white">
            <i class="fire icon"></i>Heat
            <div class="detail"><b><%= 0 %></b></div>
          </div>

          <div class="ui label image white">
            <i class="star icon"></i>Sales Rank
            <div class="detail"><b><%= @amazon_product.current_sales_rank %></b></div>
          </div>
          <p>Last scanned: <%= time_ago_in_words(@amazon_product.scanned_at) %></p>
        </div>
      </div>
    </div>

    <div class="seven wide column right aligned">
      <div class="ui vertically grid">
        <div class="column row">
          <div class="column">
            <div class="ui label image white">
              High
              <div class="detail"><b><%= number_to_currency(@amazon_product.presenter.maximum_price) %></b></div>
            </div>

            <div class="ui label image white">
              Low
              <div class="detail"><b><%= number_to_currency(@amazon_product.presenter.minimum_price) %></b></div>
            </div>

            <div class="ui label image white">
              Average
              <div class="detail"><b><%= number_to_currency(@amazon_product.presenter.average_price) %></b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% data = @amazon_product.amazon_product_histories.group_by_day(:created_at, format: "%b %-d", series: false).minimum(:price) %>

<h3>Latest recorded prices</h3>

<div class="ui two column divided stackable grid">
  <div class="row">
    <div class="column">
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div class="column">
      <table class="ui celled table">
        <thead>
          <tr><th>Date</th>
          <th>Price</th>
        </tr></thead>
        <tbody>
          <% data.first(5).each do |date, price| %>
          <tr>
            <td><%= date %></td>
            <td><%= number_to_currency(price / 100.0) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="ui tiny images container grid">
  <div id="lightgallery">
  <% @amazon_product.variant_large_images.reverse.each do |image| %>
    <a href="<%= image %>">
      <img class="ui image" src="<%= image %>" />
    </a>
  <% end %>
  </div>
</div>

<% if @amazon_product.features %>
<div class="ui segment">
  <p><%= @amazon_product.features.to_sentence %></p>
</div>
<% end %>

<div class="ui segment">
  <h2>Information</h2>
  <table class="ui definition table">
  <tbody>
    <tr>
      <td>ASIN</td>
      <td><%= @amazon_product.asin %></td>
    </tr>
    <tr>
      <td>Manufacturer</td>
      <td>rating (integer)</td>
    </tr>
</tbody></table>
</div>

<script>
  var ctx = document.getElementById("myChart");
  var scatterChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: <%= raw [''] + data.keys %>,
      datasets: [{
          label: "Amazon",
          data: <%= raw [0] + data.values %>,
          fill: true,
          lineTension: 0,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 5,
          pointRadius: 5,
          pointHitRadius: 10,
        }
      ]
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              callback: function(label, index, labels) {
                var currency = parseFloat(label * 0.01);
                return " £" + Number(currency).toFixed(2);
              }
            }
          }
        ]
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var currency = parseFloat(tooltipItem.yLabel * 0.01);
            return " £" + Number(currency).toFixed(2);
          }
        }
      }
    }
  });
</script>
