<div class="ui stackable menu">
  <div class="ui container">
    <div class="item">
      <%= image_tag('logo.png') %>
    </div>
    <a href="<%= root_path %>" class="header item">
      Trackr
    </a>
    <a href="<%= root_path %>" class="item active">Home</a>
    <a class="item" href="<%= amazon_products_path %>">Products</a>
    <a class="item" href="<%= amazon_product_groups_path %>">Groups</a>
    <a class="item" href="<%= amazon_product_categories_path %>">Categories</a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <%= form_tag search_path do %>
            <%= text_field_tag :query, params[:query], placeholder: 'Search...' %>
          <% end %>
          <i class="search link icon"></i>
        </div>
      </div>

      <% if user_signed_in? %>
        <%= link_to '/logout', method: 'delete', class: 'ui item' do %>
          Logout
        <% end %>
      <% else %>
        <a href="/login" class="ui item">
          Login
        </a>
        <a href="/register" class="ui item">
          Register
        </a>
      <% end %>
    </div>
  </div>
</div>
