<div class="ui one column grid">
  <div class="row">
    <div class="column">
      <%= form_tag search_path do %>
        <div class="ui inverted segment">
          <div class="ui inverted left icon input full-width big">
            <%= text_field_tag :query, nil, placeholder: 'Enter Amazon URL, ASIN or search by keywords...' %>
            <i class="search icon"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui four column grid">
        <% AmazonProduct.all.each do |product| %>
          <div class="column">
            <div class="ui fluid card">
              <div class="image" style="background: #fff; min-height: 150px;">
                <img class="ui fluid image center" src="<%= image_path(product.presenter.main_image) %>" style="max-height: 150px;width: auto;">
              </div>
              <div class="content">
                <div class="header dotdotdot"><%= product.title %></div>
                <div class="meta">
                  <a><%= friendly_name(product.amazon_product_group.name) %></a>
                </div>
              </div>
              <% if product.current_price%>
                <div class="extra content">
                  <span>
                    <span class="current_price_small">Price:</span>
                    <span class="current_price"><%= number_to_currency(product.current_price / 100.0) %></span>
                    <% if product.current_prime %>
                      <i class="a-icon a-icon-prime"></i>
                    <% end %>
                  </span>
                  <div>(Save: <%= 1 - (product.current_price / product.amazon_product_histories.maximum(:price)).round %>%)</div>
                </div>
              <% else %>
                <div class="extra content">
                  <p>No prices yet</p>
                </div>
              <% end %>
              <div class="extra content">
                <% unless product.amazon_product_histories.average(:price).nil? %>
                  <div><p>Average: <%= number_to_currency(product.amazon_product_histories.average(:price) / 100.0) %></p></div>
                <% end %>
                <div><p>Last scanned: <%= time_ago_in_words(product.scanned_at) %></p></div>
              </div>
              <div class="ui attached buttons">
                <a class="ui green button" href="<%= product.detail_page_url %>" target="_blank">
                  <i class="shop icon"></i>Buy
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h2>Groups</h2>
      <% @amazon_product_groups.each do |p| %>
        <%= link_to p.name, amazon_product_group_path(p) %>
      <% end %>
    </div>

    <div>
      <h2>Categories</h2>
      <% @amazon_product_categories.each do |p| %>
        <%= link_to p.name, amazon_product_category_path(p) %>
      <% end %>
    </div>
  </div>
</div>
