<div class="ui one column grid">
  <div class="row">
    <div class="column">
      <%= form_tag search_path do %>
        <div class="ui inverted segment">
          <div class="ui inverted left icon input full-width big">
            <%= text_field_tag :query, nil, placeholder: 'Enter Amazon URL, ASIN or search by keywords...' %>
            <i class="search icon"></i>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui compact menu">
        <a class="item" href="/">
          Largest savings
        </a>
        <a class="item active" href="/popular">
          Popular
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="ui four column grid stackable">
        <% @amazon_products.each do |product| %>
          <div class="column">
            <div class="ui fluid card link">
              <a class="image" href="<%= amazon_product_path(product) %>" style="background: #fff; min-height: 150px;">
                <div class="ui black ribbon label">
                  <i class="trophy icon"></i> <%= product.current_sales_rank %>
                </div>
                <img class="ui fluid image center" src="<%= image_path(product.presenter.main_image) %>" style="max-height: 150px;width: auto;">
              </a>
              <div class="content">
                <a class="header dotdotdot" href="<%= amazon_product_path(product) %>"><%= product.title %></a>
                <div class="meta">
                  <a href="<%= amazon_product_group_path(product.amazon_product_group) %>"><%= friendly_name(product.amazon_product_group.name) %></a>
                </div>
              </div>
              <% if product.current_price%>
                <div class="extra content">
                  <span>
                    <span class="current_price_small">Price:</span>
                    <span class="current_price"><%= number_to_currency(product.presenter.price) %></span>
                    <% if product.current_prime %>
                      <i class="a-icon a-icon-prime"></i>
                    <% end %>
                  </span>
                  <div>(Save: <%= product.percentage_to_save %>%)</div>
                </div>
              <% else %>
                <div class="extra content">
                  <p>No prices yet</p>
                </div>
              <% end %>
              <div class="ui two column attached buttons">
                <a class="ui green button" href="<%= product.detail_page_url %>" target="_blank">
                  <i class="shop icon"></i>Buy
                </a>
                <a class="ui yellow button" href="<%= amazon_product_path(product) %>">
                  <i class="unhide icon"></i>View
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render 'pages/statistics' %>

    <div>
      <h2>Groups</h2>
      <% @amazon_product_groups.each do |p| %>
        <%= link_to p.name, amazon_product_group_path(p) %>
      <% end %>
    </div>

    <div>
      <h2>Categories</h2>
      <% @amazon_product_categories.each do |p| %>
        <%= link_to p.name, amazon_product_category_path(p) %>
      <% end %>
    </div>
  </div>
</div>
