<style>
  .item {
    position:relative;
  }
  .graph {
    position:absolute;
    bottom:0;
    right:0;
    z-index: -1;
  }
</style>
<script>
  Chart.defaults.global.legend.display = false;
  Chart.defaults.global.tooltips.enabled = false;
</script>

<h1>Products</h1>

<div>
  <div class="ui divided items">
  <% @amazon_products.each do |product| %>
    <div class="item">
      <div class="ui small image">
        <a href="<%= amazon_product_path(product) %>">
          <img src="<%= image_path(product.presenter.main_image) %>">
        </a>
      </div>
      <div class="content">
        <a class="header"><%= link_to product.title.truncate(60), amazon_product_path(product) %></a>
        <div class="description">
          <p><%= product.features.first %></p>
        </div>
        <% if product.current_price%>
          <div class="extra content">
            <span>
              <span class="current_price_small">Price:</span>
              <span class="current_price"><%= number_to_currency(product.presenter.price) %></span>
              <% if product.current_prime %>
                <i class="a-icon a-icon-prime"></i>
              <% end %>
            </span>
            <div><strike><%= number_to_currency(product.presenter.maximum_price) %></strike> Save: <%= number_to_currency(product.presenter.amount_saved) %> (<%= product.percentage_to_save %>%)</div>
          </div>
        <% end %>
        <div class="extra">
          <% product.tags.each do |tag| %>
            <div class="ui label"><i class="tag icon"></i> <%= tag %></div>
          <% end %>
        </div>
        <div class="graph">
          <%= render partial: 'shared/spark_line_graph',
                      locals: { id: "sparkey_#{product.id}",
                                product: product } %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
