<div class="ui middle aligned center aligned grid">
  <div class="column">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'ui large form' }) do |f| %>
      <div class="ui stacked segment">
        <h1>Log-in to your account</h1>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder: 'E-mail address' %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="inline field">
            <div class="ui checkbox">
              <%= f.check_box :remember_me, tabindex: 0, class: 'hidden' %>
              <%= f.label :remember_me %>
            </div>
          </div>
        <% end -%>

        <%= f.submit "Login", class: 'ui fluid large teal submit button' %>
      </div>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
